@model IEnumerable<Books.Models.BookType>
@{
    ViewBag.Title = "Book Types";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Type Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bt in @Model)
        {
            <tr>
                <td>@bt.Name</td>
                <td>
                    @using (Html.BeginForm(actionName: "Edit", controllerName: "BookTypes", method: FormMethod.Get, routeValues: new { id = bt.BookTypeId }))
                    {
                        <button class="btn btn-primary" type="submit">Edit</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm(actionName: "Delete", controllerName: "BookTypes", method: FormMethod.Post, routeValues: new { id = bt.BookTypeId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-primary" type="submit">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@using (Html.BeginForm(actionName: "New", controllerName: "BookTypes", method: FormMethod.Get))
{
    <button class="btn btn-primary" type="submit">New</button>
}


