@model Books.Models.BookType
@{
    ViewBag.Title = "Create a Book Type";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(actionName: "New", controllerName: "BookTypes", method: (FormMethod.Post)))
{
    @Html.LabelFor(b => b.Name)
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Type in the book's title", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })

    <br />
    <button class="btn btn-primary" type="submit">Add new Book Type</button>
}


