<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8"/>
		<title>404</title>
		<script src="starter.js">
		</script>
		<link rel="stylesheet" type="text/css" href="starter.css"/>
	</head>
	<body>
		<h1>Eroare 404</h1>
		<p>Drama omului e sa caute toata viata ce nu se gaseste: fericirea, linistea, iubirea, timpul pierdut... in cazul de fata o pagina web inexistenta...
	</body>
</html>