@model List<Books_WEB_API.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var book in Model)
        {
            <tr>
                <td>
                    @book.Title
                </td>
                <td>
                    @Html.ActionLink("See details", "Details", new { id = book.BookId })
                </td>
                <td><button data-id="@book.BookId"class="bt-delete">Delete</button></td>
            </tr>
        }*@
    </tbody>
</table>


@using(Html.BeginForm(actionName: "New", controllerName: "Book", method: FormMethod.Get))
{
    <button class="btn btn-primary" type="submit">Add new book</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            //adaugam date in tabel prin intermediul api-ului
            var tabel = $("#books").DataTable({
                ajax: { url: "/api/book", dataSrc: "" },
                //ia proprietatea Title din obiectul json returnat de get
                columns: [  { data: "Title" },
                    {
                        data: "Title", render: function (data, type, row) {
                            return "<a href='/book/details/" + row.BookId +
                                "'>More about " + row.Title + "</a>";
                        }
                    },
                    {
                        data: "BookId", render: function (data) {
                            return "<button data-id=" + data + " class='bt-delete'>Delete</button>";
                        }
                    }]
            });
            //vrem sa apasam pe fiecare buton din tabel de delete
            //luam tabelul dupa id, iar la on click vrem sa dam click pe buton
            //asa ca selectam clasa bt-delete
            $("#books").on("click", ".bt-delete", function () {
                //salvam referinta la buton(e cel care a declansat evenimentul)
                var buton = $(this);
                //trebuie sa stim id-ul butonului pe care am apasat
                //data-id e un camp facut de noi (data-orice) care retine id-ul cartii
                if (confirm("Are you sure?")) {
                    //functia de stergere e o functie ajax
                    $.ajax(
                        {
                            url: "/api/book/" + buton.attr("data-id"),
                            method: "DELETE",
                            //la succes accesam linia respectiva ca sa o stergem
                            success: function () {
                                //pana la remove => returneaza tabelul fara linia respectiva
                                tabel.row(buton.parents("tr")).remove().draw();
                            }
                        }
                    )
                }
            })
        });
    </script>
}